<!DOCTYPE html>
<html>
<head>
    <title>Diary</title>
</head>
<body>

<h1>Diary</h1>
<h2>Today: {{ current_date }}</h2>

<textarea 
id="diaryBox"
data-id="{{ latest.id if latest else '' }}"
{{ '' if not latest else 'readonly' }}>
{{ latest.content if latest else '' }}
</textarea>

<br><br>
<button id="editBtn">Edit</button>

<hr>

{% for entry in entries %}
<form method="POST">
    <input type="hidden" name="delete_id" value="{{ entry.id }}">
    <button type="submit">Delete</button>
</form>
<hr>
{% endfor %}

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>