<hr>

<a href="/view">Finance</a> |
<a href="/diary">Diary</a> |
<a href="/logout">Logout</a>

<hr>

<h3>Today: {{ current_date }}</h3>
<h1>My diary</h1>

<form method="POST">
    <textarea name="content" placeholder="Write your diary..."></textarea>
    <br>
    <!-- Submit button to save the diary entry -->
    <button type="submit">Save</button>
</form>

<hr>

<h2>Entries:</h2>

{% for entry in entries %}
    <div class="entry">
        <!-- Display each diary entry content -->
        <p>{{ entry.content }}</p>
    </div>
{% endfor %}