/* ================= WEATHER WIDGET ================= */

#weather-widget {

    text-align: center;
}


/* ================= WEATHER ICON ================= */

#weather-icon {

    width: 100px;

    height: 100px;
}


/* ================= WEATHER TEMP ================= */

#weather-temp {

    font-size: 40px;

    margin: 0;
}


/* ================= WEATHER STATUS ================= */

#weather-status {

    font-size: 18px;

    color: #666666;

    margin-top: 10px;

    text-transform: capitalize;
}