<hr>

<a href="/view">Finance</a> |
<a href="/diary">Diary</a> |
<a href="/logout">Logout</a>

<hr>

<div style="margin-left:20px;">
    <a href="/view">View</a> |
    <a href="/add">Add</a> |
    <a href="/summary">Summary</a>
</div>
<hr>

<p>Logged in as: {{session["user"] }}</p>

<h2>Add Record</h2>

<!--
    <form> means where does it start from
    method="POST" sends data securely to server
-->
<form method="POST">
    
    <label>Date:</label><br>
    <input type= "date" name="date" required>
    <br><br>

    <label>Type:</label><br>
    <select name="type" id="type" required>
        <option value="">-- Select Type --</option>
        <option value="income">Income</option>
        <option value="expense">Expense</option>
        <option value="saving">Saving</option>
    </select>
    <br><br>

    <label>Category:</label><br>
    <select name="category" id="category" required>
        <option value="">-- Select Category --</option>
    </select>
    <br><br>

    <label>Item:</label><br>
    <input name="item">
    <br><br>

    <label>Amount:</label><br>
    RM <input type="text" name="amount" inputmode="decimal" required>
    <br><br>

    <!--
        button creates a clickable button
        type="submit" sends the form to flask when button is clicked
        add is just a text shown on the webage
    -->
    <button type="submit">Add</button>
</form>
<br>

<!--
    <a> is to let HTML know it is a link
    href="/view" is the hyperlink for view section
-->
<a href="/view">View Records</a>

<script>
const categories = {
    income: ["Salary", "Freelance", "Business", "Gift", "Bonus"],
    expense: ["Food", "Transport", "Entertainment", "Rent", "Education", "Travel"],
    saving: ["Savings", "Investment", "Emergency Fund"]
};

const typeSelect = document.getElementById("type");
const categorySelect = document.getElementById("category");

typeSelect.addEventListener("change", function () {
    const selectedType = this.value;

    // 🔥 AUTO CLEAR CATEGORY
    categorySelect.innerHTML = '<option value="">-- Select Category --</option>';

    if (!categories[selectedType]) return;

    categories[selectedType].forEach(cat => {
        const option = document.createElement("option");
        option.value = cat.toLowerCase();
        option.textContent = cat;
        categorySelect.appendChild(option);
    });
});
</script>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

{% if success %}
<p style="color:green;">{{ success }}</p>
{% endif %}