<p>Logged in as: {{session["user"] }}</p>

<a href="/logout">Logout</a>

<!--
    <form> means where does it start from
    method="POST" sends data securely to server
-->
<form method="POST">
    Date:
    <input type= "date" name="date" required><br>

    Type:
    <select name="type">
        <option value="income">Income</option>
        <option value="expense">Expense</option>
        <option value="savings">Savings</option>
    </select><br>

    Category:
    <select name="category">
        <option value="">-- Select Category --</option>
        <option value="food">Food </option>
        <option value="transport">transport</option>
        <option value="entertainment">Entertainment</option>
        <option value="education">Education</option>
        <option value="rent">Rent</option>
        <option value="other">Other</option>
    </select><br>

    Item:
    <input name="item"><br>

    Amount:
    RM <input type="number" name="amount" step="0.01" required><br>

    <!--
        button creates a clickable button
        type="submit" sends the form to flask when button is clicked
        add is just a text shown on the webage
    -->
    <button type="submit">Add</button>
</form>
<br>

<!--
    <a> is to let HTML know it is a link
    href="/view" is the hyperlink for view section
-->
<a href="/view">View Records</a>