<!DOCTYPE html>
<html>
<head>
    <title>Dashboard - Life Pages</title>
</head>

<body>

    <!-- 顶部导航（靠右） -->
    <div align="right">
        <a href="dashboard.html">Home</a> |
        <a href="app.py">Finance Page</a> |
        <a href="app.py">Diary Page</a> |
        <a href="calendarhomepage.html">Calendar Page</a> |
        <a href="loginpage.html">Log out</a>
    </div>

    <hr>

    <h1>Life Pages Dashboard</h1>
    <p>Welcome back</p>

    <hr>

    <!-- 功能区 -->
    <h2>Features</h2>

    <ul>
        <li><a href="/view">Finance Page</a></a></li>
        <li><a href="/diary">Diary Page</a></li>
        <li><a href="/calendar">Calendar Page</a></li>
        <li><a href="/logout">Log out</a></li>
    </ul>

</body>
</html>
