<h2>Register</h2>

<form method="POST">
    Username: <input name="username"><br>
    Password: <input type="password" name="password"><br>
    <p>Password must:</p>
<ul>
    <li>Be at least 8 characters</li>
    <li>Contain at least 1 number</li>
    <li>Contain uppercase letter</li>
    <li>Contain lowercase letter</li>
</ul>

    Question:
    <select name="question">
        <option>What is your nickname?</option>
        <option>Where is your birth city?</option>
    </select><br>

    Answer: <input name="answer"><br>

    <button type="submit">Register</button>
</form>