<hr>

<a href="/view">Finance</a> |
<a href="/diary">Diary</a> |
<a href="/logout">Logout</a>

<hr>

<p>Logged in as: {{session["user"] }}</p>

<a href="/logout">Logout</a>

<h2>Update Record</h2>

<form method= "POST">

Date:
<input type= "date" name= "date" value= "{{ record.date }}" required><br>

Type:
<select name= "type">
    <option value="income" {% if record.type == "income" %}selected{% endif %}>Income</option>
    <option value="expense" {% if record.type == "expense" %}selected{% endif %}>Expense</option>
    <option value="savings" {% if record.type == "savings" %}selected{% endif %}>Savings</option>
</select><br>

Category:
<select name="category">
    <option value="">-- None --</option>

    <option value="food" {% if record.get('category') == 'food' %}selected{% endif %}>Food</option>
    <option value="transport" {% if record.get('category') == 'transport' %}selected{% endif %}>Transport</option>
    <option value="travel" {% if record.get('category') == 'travel' %}selected{% endif %}>Travelt</option>
    <option value="entertainment" {% if record.get('category') == 'entertainment' %}selected{% endif %}>Entertainment</option>
    <option value="education" {% if record.get('category') == 'education' %}selected{% endif %}>Education</option>
    <option value="rent" {% if record.get('category') == 'rent' %}selected{% endif %}>Rent</option>
    <option value="other" {% if record.get('category') == 'other' %}selected{% endif %}>Other</option>
</select><br>

Item:
<input name="item" value="{{ record.item }}"><br>

Amount:
RM <input type= "text" name= "amount" inputmode="decimal" value="{{ record.amount }}"><br>

<button type= "submit">Update</button>

</form>

<br>
<a href="/view">Back</a>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

{% if success %}
<p style="color:green;">{{ success }}</p>
{% endif %}