<!-- HTML comment (for html related commenting)-->
{# Jinja comment (cannot be detected by browser) #}

<h1>Financial Records</h1>
<h2>Records</h2>

<a href="/add">Add New Record</a>

<table border="1">
<tr>
    <th>Date</th>
    <th>Type</th>
    <th>Category</th>
    <th>Item</th>
    <th>Amount</th>
    <th>Actions</th>
</tr>

<!-- loop through each item in records -->
{# %...% is the logic, not a normal HTML #}

{% for r in records %}
<tr>

    {#
        r is the current record
        .date is to get the date
        {{}} is to display and show the value on the page
    #}
    <td>{{ r.date }}</td>
    <td>{{ r.type }}</td>
    <td>{{ r.category }}</td>
    <td>{{ r.item }}</td>
    <td>{{ r.amount }}</td>
    <td>
        <a href="/update/{{ loop.index0 }}">Update</a>
        |
        <a href="/delete/{{ loop.index0 }}">Delete</a>
    </td>
</tr>

<!-- ends the loop -->
{% endfor %}
</table>